<!DOCTYPE html>
<html>
    <head>
        <title>My First Info Page!!</title>
    </head>
    <body>
        <h1>Hello Info page!</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html>